@import "./custom.scss";
@import "~bootstrap/scss/bootstrap";

body {
  /* background-color: #e4e5e6; */
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.link-action {
  font-size: 0.8rem;
}
