.link-action {
  padding: 0;
  background: none;
  border: none;
  font-size: 0.8rem;
}

.click-count {
  font-size: 0.8rem;
}

.fa-info {
  color: rgb(170, 170, 170);
}

.text-title {
  font-size: 1.1rem;
}

.text-url {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
